@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html, body {
  margin: 0;
  padding: 0;
  background-color:  #b0d0ff;
  height: 100vh;
}
body {
  background-image: url("../img/snow1.png"), url("../img/snow2.png"), url("../img/snow3.png");
  animation: snow linear 50s;
  animation-iteration-count: infinite;
}

img {
  display: none;
}

.winner {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.players-list-wrapper {
  width: 100%;
  max-width: 500px;
}

canvas {
  max-width: 500px;
  max-height: 500px;
}

input {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  border: 0;
}

input[type='text'] {
  background-color: lightsteelblue;
  margin-bottom: 10px;
  padding: 10px;
}

input[type='submit'] {
  background-color: #23d5ab;
}

.app-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 30px 10px 10px 5px;
  justify-content: space-between;
}

.app-wrapper div {
  width: 50%;
}

ul {
  padding: 0;
}

li {
  background-color: #ee7752;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

li button {
  border-radius: 50%;
  background-color: #e73c7e;
  transform: rotate(45deg);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.notification {
  margin: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
}

/* WINTER ANIMATION */

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 600px 2000px, 400px 1500px, 100px 1000px;
  }

}
